server:
  port: 9527

spring:
  application:
    name: microservicecloud-zuul-gateway

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka,http://eureka7003.com:7003/eureka
  instance:
    instance-id: gateway-9527.com
    prefer-ip-address: true


info:
  app.name: atguigu-microcloud
  company.name: www.atguigu.com
  build.artifactId: propertymanagement-zuul-gateway-9527
  build.version: 1.0-SNAPSHOT

zuul:
  prefix: /zifeng
  ignored-services: "*"
  routes:
    mydept.serviceId: propertymanagement-landcloud-consumer
    mydept.path: /land/**
