<!--该网页用于来查看系统中所有的已缴费未审核的缴费信息-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>居民待审核清单</title>
   		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<link rel="stylesheet" href="layui/css/layui.css">
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script>
		<script src="layui/layui.js"></script>
	</head>
	<body>
	<h1 style="padding-top: 20px;padding-left: 10px;">待审核清单</h1>
	<hr class="layui-bg-blue">
	<div style="padding: 5px;">
		
	<table class="layui-hide" id="payList" lay-filter="payList"></table>
	
	<script type="text/html" id="barDemo">
	  <a class="layui-btn layui-btn-xs" lay-event="edit"  id="pay">审核</a>
	</script>	

	</div>
	
	<div style="display: none; text-align: center;" id="payDiv">
		<img src="img/payCode.png"/ style="width: 500px;height: 500px;">	
		<br>
		<span style="font-size: 25px;">支付单号:<input type="text" id="payNum" style="height: 25px;width: 200px;"/></span>
		
	</div>
		
		
	<script type="text/javascript">
	layui.use([ 'jquery', 'layer', 'form', 'table','laydate'], function() {
		var $ = layui.jquery;
		var layer = layui.layer;
		var form = layui.form;
		var table = layui.table;
		var laydate=layui.laydate;
		
		var id = JSON.parse(localStorage.getItem('user')).id;
		 table.render({
		    elem: '#payList'
		    ,url:"http://myzuul.com:9527/zifeng/pay/consumer/pay/findallnocheck"
		    ,title: '用户待缴费清单'
		    ,totalRow: true
		    ,headers: {token: localStorage.getItem('token'), id:id}
		    ,cols: [[
		      {field:'id', title:'ID', width:220, fixed: 'left', unresize: true, sort: true, totalRowText: '合计',align:'center'}
		      ,{field:'contents', title:'缴费内容', width:220, align:'center',unresize: true}
		      ,{field:'amount', title:'缴费金额(元)', width:220, totalRow: true,align:'center',unresize: true}
		      ,{field:'uId', title:'缴费居民ID', width:220, sort: true,align:'center',unresize: true}
		      ,{field:'status', title:'缴费状态', width:220,align:'center',unresize: true}
		      ,{field:'date', title:'发布日期', width:220,  sort: true,align:'center',unresize: true}	     
		      ,{fixed: 'right', title:'操作', toolbar: '#barDemo',align:'center',unresize: true}
		      
		    ]]
		    ,page: true
		    ,width:1650
		    ,id:'payList'
		 });
		 
		 table.on('tool(payList)', function(obj){
		    var data = obj.data;
		    var page;
		    
		    $.ajax({
									type:"POST",
									contentType:"application/json",
									url:"http://myzuul.com:9527/zifeng/pay/consumer/pay/changestatus/"+data.id+"/"+"-1",
									headers:{token:localStorage.getItem('token'),id:JSON.parse(localStorage.getItem('user')).id},
									dataType:"text",
									success:function(data4){
										table.reload('payList');
										layer.msg('审核成功！', {icon: 6}); 
										layer.close(page);
									},
									eerror:function(){
										layer.msg('审核失败，请稍后重试', {icon: 5}); 
										return false;
									}
								});
		 });
	
	
	
	
	
	});
	  </script>
	</body>
</html>
